.register-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Left Side: Signup Form */
.register-form {
  width: 50%;
  background: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Align form to left */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  margin-bottom: 10px;
}

.register-form p {
  color: #555;
  margin-bottom: 20px;
}

.register-form form {
  width: 100%;
  max-width: 320px;
}

.register-form label {
  /* text-align: left; */
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.login-link {
  margin-top: 10px;
}

.login-link a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

/* Right Side: Image */
.register-image {
  flex: 1;
  display: flex;
}

.register-image img {
  width: 100%;
  /* max-width: 500px; */
  /* border-radius: 10px; */
}
