.register-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #043E2F;
}

/* Left Side: Signup Form */
.register-form {
  width: 50%;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centers the form vertically */
  align-items: center; /* Centers the form horizontally */
  text-align: left; /* Ensures labels remain left-aligned */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.register-form h2 {
  margin-bottom: 10px;
  color:aqua
}

.register-form p {
  color: antiquewhite;
  margin-bottom: 20px;
}

.register-form form {
  width: 100%;
  max-width: 320px;
}

.register-form label {
  text-align: left;
  color:azure;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-btn {
  width: 107%;
  padding: 12px;
  background: #24b190;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.login-link {
  margin-top: 15px;
}

.login-link a {
  color:#24b190;
  text-decoration: none;
  font-weight: bold;
}
.login-link a:hover {
  color : #007bff;
}

/* Right Side: Image */
.register-image {
  flex: 1;
  display: flex;
  /* justify-content: center;
  align-items: center;
  background: #f0f2f5; */
}

.register-image img {
  width: 100%;
  /* max-width: 500px; */
}
