.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .register-form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register-form label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
  }
  
  .register-form h2 {
    margin-bottom: 10px;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-form .register-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.8rem;
  }
  
  .login-link {
    margin-top: 10px;
  }
  