.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 92%;
    padding: 20px 0;
    color: white;
    position: fixed;
   
    /* border-right: 5px solid #043e2f; */
    
  }

  .sidebar-content, .sidebar-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 10px;
    padding: 10px;
    width: 80%;

    /* border: 2px seashell solid; */
  }

  .sidebar-content ul, .sidebar-footer ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
   
  }

  .sidebar-content ul li, .sidebar-footer ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 7px;
    border-radius: 10px;
    background-color: azure;
    color: black;
    transition: background-color 0.3s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 2px 10px rgba(237, 233, 233, 0.3);
    font-weight: bold;
    font-size: 16px;
  }

  .sidebar-content ul li:hover, .sidebar-footer ul li:hover{
    background-color: #f7ecec;
    cursor: pointer;
  }

  .sidebar-content ul li img, .sidebar-footer ul li img{
    width: 30px;
    height: 30px;
  }

 
  #profile{
    margin: 0 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 175, 45);
    padding: 10px;
    
  }
  #logout:hover{
    background-color: rgba(204, 10, 3, 0.89);
  }

  